# local package
-e .

# external requirements
awscli
# botocore
# databricks-cli
# docker
# dvc
# # flake8
# Flask
# Flask-Cors
# Flask-MonitoringDashboard
# google-api-core
# google-api-python-client
# google-auth
# google-auth-httplib2
# googleapis-common-protos
# Jinja2
# joblib
# Markdown
# MarkupSafe
# matplotlib
# mlflow
# nltk
# numpy
# oauth2client
# pandas
# # phonenumbers
# Pillow
# prometheus-client
# prometheus-flask-exporter
# pydot
# python-benedict
# python-dateutil
# python-dotenv
# PyYAML
# # s3transfer
# scikit-learn
# scipy
# SQLAlchemy
# toml
# # tornado
# tox
# tqdm
# virtualenv
# websocket-client
# Werkzeug
# zipp